<!--
  Generated template for the Pagina2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>pagina2</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let item of items" (click)= "alertList(item.id, item)">
        <ion-card-header>
          {{item.name}} - {{item.email}}
        </ion-card-header>      
        <ion-card-content>
           {{item.address.street}}
        </ion-card-content>
      </ion-card>
    <button ion-button color="secondary" (click) = "volver()">volver</button>    
</ion-content>
