<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" [(ngModel)]= "nombre"></ion-input>
    </ion-item>
    {{nombre}}
    <!--<ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>-->
  
  </ion-list>
  <button ion-button color="secondary" (click)="goToPagina2()">Ir a Pagina 2</button>
  <button ion-button (click) = "goToMenu()">ir a menu</button>
</ion-content>
